{% load frontify_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Example Images (croped)</h1>
    <ul>
        {% for object in object_list %}
        {% with "alt_tag_"|add:LANGUAGE_CODE as alt_tag  %}
          <li>
            <p>Custome Meta: {{ object.frontify_image | frontify_metadata:alt_tag }}</p>
            <img src="{{ object.cropped_image }}" width="500" height="500">
          </li>
            {% endwith %}
        {% endfor %}
    </ul>
  </body>
</html>
